In [1]:
import pandas as pd
grades_dict = {
    'Wally': [87, 96, 70],
    'Eva': [100, 87, 90],
    'Sam': [94, 77, 90], 
    'Katie': [100, 81, 82],
    'Bob': [83, 65, 85]}
grades = pd.DataFrame(grades_dict)
grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

In [2]:
grades.index = ['Test 1', 'Test 2', 'Test 3']
grades

        Wally  Eva  Sam  Katie  Bob
Test 1     87  100   94    100   83
Test 2     96   87   77     81   65
Test 3     70   90   90     82   85

In [18]:
grades.loc['Test1':'Test3']

Empty DataFrame
Columns: [Wally, Eva, Sam, Katie, Bob]
Index: []

In [19]:
grades.iloc[0:2]

        Wally  Eva  Sam  Katie  Bob
Test 1     87  100   94    100   83
Test 2     96   87   77     81   65

In [7]:
grades[grades>=90]

        Wally    Eva   Sam  Katie  Bob
Test 1    NaN  100.0  94.0  100.0  NaN
Test 2   96.0    NaN   NaN    NaN  NaN
Test 3    NaN   90.0  90.0    NaN  NaN

In [8]:
grades.describe()

           Wally         Eva        Sam       Katie        Bob
count   3.000000    3.000000   3.000000    3.000000   3.000000
mean   84.333333   92.333333  87.000000   87.666667  77.666667
std    13.203535    6.806859   8.888194   10.692677  11.015141
min    70.000000   87.000000  77.000000   81.000000  65.000000
25%    78.500000   88.500000  83.500000   81.500000  74.000000
50%    87.000000   90.000000  90.000000   82.000000  83.000000
75%    91.500000   95.000000  92.000000   91.000000  84.000000
max    96.000000  100.000000  94.000000  100.000000  85.000000

In [20]:
pd.set_option('precision', 2)

grades.describe()

OptionError: Pattern matched multiple keys

In [13]:
print(grades.T)

       Test 1  Test 2  Test 3
Wally      87      96      70
Eva       100      87      90
Sam        94      77      90
Katie     100      81      82
Bob        83      65      85

In [14]:
print(grades.sort_index(ascending=False))

        Wally  Eva  Sam  Katie  Bob
Test 3     70   90   90     82   85
Test 2     96   87   77     81   65
Test 1     87  100   94    100   83

In [15]:
print(grades.sort_index(axis=1))

        Bob  Eva  Katie  Sam  Wally
Test 1   83  100    100   94     87
Test 2   65   87     81   77     96
Test 3   85   90     82   90     70

In [17]:
print(grades.sort_values(by='Test1', axis=1, ascending=False))

KeyError: 'Test1'

In [28]:
import pandas as pd
temps = {'Mon': [68, 89], 'Tue': [71, 93], 'Wed': [66, 82],
                'Thu': [75, 97], 'Fri': [62, 79]}
temperatures = pd.DataFrame(temps,index=['Low','High'])
temperatures.loc[:,'Mon':'Wed']
temperatures.loc['Low']

temperatures.mean(axis=1)

Low     68.4
High    88.0
dtype: float64