In [1]:
import pandas as pd
grades = pd.Series([87, 100, 94])
grades

0     87
1    100
2     94
dtype: int64

In [2]:
pd.Series(98.6,range(3))

0    98.6
1    98.6
2    98.6
dtype: float64

In [3]:
grades[0]

87

In [4]:
grades.describe()

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

In [5]:
grades = pd.Series([87, 100, 94], index=['Wally', 'Eva', 'Sam'])
grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [6]:
grades = pd.Series({'Wally':87,'Eva':100,'Sam':94})
grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [7]:
grades['Eva']

100

In [8]:
grades.Wally

87

In [9]:
grades.values

array([ 87, 100,  94], dtype=int64)

In [11]:
hardware = pd.Series(['Hammer', 'Saw', 'Wrench'])
hardware

0    Hammer
1       Saw
2    Wrench
dtype: object

In [12]:
hardware.str.contains('a')

0     True
1     True
2    False
dtype: bool

In [13]:
hardware.str.upper()

0    HAMMER
1       SAW
2    WRENCH
dtype: object